*{ 
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: sans-serif;

} 

.profileimg{ 
    height: 200px; 
    width: 200px;
    border-radius: 100px;
    border: 5px solid rgb(16, 1, 16);
    outline:4px solid rgba(5, 1, 19, 0.616);
    outline-offset: 50%;

    box-shadow:rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; ;


     margin: 40px; 

}


.main{
    height: 650vh;
    max-width: 100vw;
}

.sidebar{
    width: 20%;
    height: 100%;
    vertical-align: top;
    display: inline-block;
    background-color: rgba(102, 242, 114, 0.806);
} 
.sidebar a{ 
    text-decoration: none;
    display: block;
    text-align: center;
    counter-reset: none;
    color:white;
    padding: 15px;
}
.sidebar :hover{ 
    color: rgba(6, 14, 2, 0.776);

} 

.icon{ 
    font-size: 40px;
    color:rgb(32, 40, 36);
}

.i{ 
    color:rgb(6, 179, 6);
    font-size: 30px;
    margin: 10px;
}

.icon a :hover{ 
    color: rgb(25, 239, 21);
} 

#myh1{
    position: right;
    top: 0px;
    left: 100px;
    font-size: 80px;
    font-family: sans-serif;
    margin-right: 100px;
    margin-top: 0;
    padding: right;
} 

 .content{ 
    width: 79%;
    height: 100%;
    display: inline-block;
    padding: 20px;
    font-size: smaller;
    

 }

 .hero{  
    color: rgba(25, 247, 177, 0.909)
}  

.miss{ 
   color: grey;

   }

.me{  
    color: rgb(0, 255, 110);
    margin-left: 60%;
    margin-top: 50px;
    display: block;
}

.container{
    margin-top: 20px;
    position: right;
 }

.miss{ 
    color: rgba(128, 128, 128, 0.929);
} 
.imag{ 
    font-size: 50px;
    width: auto;
    margin: 0%;

}
.mine{ 
     color: rgb(43, 226, 98);
     font-size: large;
} 

.abd{ 
    color: rgb(43, 226, 153);
}
  

.host{ 
    margin-top: 20px ;
}







